@import '../variables';

.featured-section {
    padding: min(8rem, 5vw);

    @media (min-width: 1000px) {
        padding-right: 0;
    }

    &.hang {
        position: relative;
    }

    h1 {
        font-size: clamp(1.5rem, 3.8vw + 0.6rem, 4rem);
        width: min-content;
        text-transform: uppercase;
        line-height: 1.2;
        margin-bottom: min(12rem, 8vw);
    }

    .slider-outer {
        overflow-x: scroll;
        position: relative;
        cursor: none;

        @media (min-width: 1000px) {
            -ms-overflow-style: none;
            scrollbar-width: none;

            &.hang {
                position: static;
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .slider {
        display: flex;
        gap: min(9rem, 10vw);
        user-select: none;
        // padding-bottom: min(12rem, 14vw);
        transition: 0.8s;

        article {
            min-width: min(300px, 62vw);
            overflow-x: auto;

            .img-container {
                position: relative;
                margin-bottom: min(12rem, 14vw);

                &::before {
                    content: '';
                    width: 23px;
                    height: 2px;
                    background-color: $black;
                    position: absolute;
                    bottom: -2rem;
                }
            }

            img {
                position: relative;
                max-width: 40%;

                &:nth-child(1) {
                    height: 50px;
                }
            }

            h3 {
                text-transform: uppercase;
                margin-bottom: 2rem;
                font-size: clamp(1.2rem, 1.8vw + 0.8rem, 2.4rem);
                font-weight: 700;
                position: relative;
            }

            p {
                font-size: clamp(1.2rem, 0.6vw + 1.1rem, 1.6rem);
                font-weight: 500;
                line-height: 1.4;

                a {
                    text-decoration: underline;
                }
            }
        }
    }

    .scroll-bar-outer {
        width: calc(100% - min(8rem, 5vw));
        height: 2px;
        background-color: lighten($black, 60);
        position: relative;
        overflow: hidden;
        margin-top: min(12rem, 14vw);

        @media (max-width: 1000px) {
            visibility: hidden;
        }

        .scroll-bar-inner {
            width: 30%;
            height: 100%;
            background-color: $black;
            position: absolute;
            transition: 0.8s;
            left: 0;

            @media (max-width: 768px) {
                width: 15%;
            }
        }
    }
}
