@import '../variables';

.news-section {
    padding: min(8rem, 5vw);
    padding-top: 10rem;
    text-transform: uppercase;

    @media (max-width: 768px) {
        padding-top: 5rem;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 6rem;

        h1 {
            font-size: 4rem;
            line-height: 1;

            @media (max-width: 1000px) {
                font-size: 3rem;
            }

            @media (max-width: 1000px) {
                font-size: 2.2rem;
            }

            span {
                font-size: inherit;
                display: inline;

                @media (max-width: 1000px) {
                    display: block;
                }
            }
        }
    }

    li {
        @media (max-width: 768px) {
            padding-bottom: 10vw;
        }
    }

    a {
        display: flex;
        align-items: flex-start;
        position: relative;
        padding-bottom: 10rem;

        @media (max-width: 768px) {
            padding-bottom: 0;
        }

        &::before {
            content: '';
            width: 100%;
            height: 1px;
            background-color: $black;
            position: absolute;
            top: -2rem;
        }

        .list-img-container {
            max-width: 35%;
            overflow: hidden;

            @media (min-width: 768px) {
                // desktop only
                img {
                    transform: scale(1.1);
                    transition: 1s;
                }
            }

            img {
                object-fit: cover;
            }
        }

        @media (min-width: 768px) {
            // desktop only
            &:hover {
                h2 {
                    text-decoration: underline;
                }

                img {
                    transform: scale(1);
                }
            }
        }

        .list-details {
            margin-left: min(2rem, 4vw);
            width: 50%;
            display: flex;
            flex-direction: column;
            align-self: stretch;

            h2 {
                font-size: 4rem;
                font-weight: 500;
                line-height: 1;
                letter-spacing: -1px;

                @media (max-width: 1080px) {
                    font-size: 2.4rem;
                }
            }

            span {
                display: block;
                margin-top: auto;
                font-weight: 500;
                font-size: 1.5em;

                b {
                    margin-right: 0.5em;
                }
            }
        }

        svg {
            width: 3rem;
            fill: $black;
            margin-left: auto;
            display: block;

            @media (max-width: 1080px) {
                width: 2.5rem;
            }

            @media (max-width: 768px) {
                width: 2rem;
            }
        }

        @media (max-width: 768px) {
            display: block;

            .list-img-container {
                max-width: 100%;
            }

            .list-details {
                margin-left: 0;
                width: 100%;

                h2 {
                    margin-block: 2.5rem 4rem;
                }

                span {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    font-size: 0.85em;
                }
            }
        }
    }
}
